body {
	word-wrap: break-word;
	background-color: #F6F6F6;
}

.article-title {
	font-size: 15px;
	font-weight: 600;
}

.carousel-indicators {
	top: 115px;
}

.img-responsive {
	display: block;
	max-width: 100%;
	max-height: 100%;
	height: auto;
	width: auto;
	margin: auto;
	zoom: 2;
}

.m-logo {
	height: 40px;
	width: 100%;
}