.img-responsive {
	display: block;
	max-width: 100%;
	max-height: 100%;
	height: auto;
	width: auto;
	margin: auto;
	zoom: 2;
}

.m-logo {
	height: 50px;
	width: 100%;
}

.top-article-image {
	height: 125px;
	width: 100%;
}

.all-articles-wrapper {
	margin-top: 20px;
}

.article-thumbnail-image {
	height:100px;
}

.top-article-title-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
	right: 0%;
	left: 0%;
	bottom: 0px;
	margin: 0;
	padding: 0;
}

.top-article-title {
	margin: 20px 10px;
}