<img *ngIf="!branding" class="loader ng-animate" src="resources/loader.gif" />
<nav *ngIf="currentArticle">
	<img class="m-logo img-responsive" alt="Brand" [src]="branding.largeLogoUrl">
	<div class="container-fluid">
		<i class="fa fa-long-arrow-left fa-3x" (click)="navigateToArticlesList()"></i>
	</div>
</nav>
<div *ngIf="currentArticle">
	<pull-to-refresh [onRefresh]="reloadArticles">
		<h3 class="article-details-title">{{currentArticle.title}}</h3>
		<img [src]="branding.resourcesBaseUrl + currentArticle.imageUrl" [alt]="currentArticle.title" class="center-block">
		<div class="article-details-description">
			<p>{{currentArticle.description}}</p>
		</div>
		<button type="button" class="btn btn-info center-block" (click)="goToFullArticle()">View full article in the browser</button>
	</pull-to-refresh>
</div>